<div class="an-content-body {{data.hideSidebarClass}}">
    <div class="an-body-topbar wow fadeIn">
        <div class="an-page-title">
            <h2>Profile</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="user-info">
                <label class="user-img">
                    <img src="../../../assets/images/fake-user.png" alt="Image">
                    <input type="file" accept="image/*">
                </label>
                <div class="user-name pl-5">
                    <h5>John Doe</h5>
                    <span>Enrolled since 2016</span>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="user-contacts pl-5">
                <h6>CONTACT INFORMATION</h6>
                <p>Email <span>joinsmith@email.com</span></p>
                <p>Phone <span>+91 9876543210</span></p>
                <p>Address <span>West end 41str, San Francisco, 0123456 California, US</span></p>
            </div>
        </div>

        <div class="col-md-5">
            <div class="user-contacts pl-5">
                <h6>PERSONAL INFORMATION</h6>
                <p>Facebook <span>www.facebook.com/johndoe</span></p>
                <p>Twitter <span>www.twitter.com/johndoe</span></p>
                <p>Pinterest <span>www.pinterest.com/johndoe</span></p>
                <p>User ID <span>www.maficadmin.com/johndoe</span></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="an-single-component bg-transparent border-0">
                <div class="an-component-body bg-transparent">
                    <div class="an-bootstrap-custom-tab p-0">
                        <div class="an-tab-control">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs justify-content-center" role="tablist">
                                <li role="presentation" class="active px-4">
                                    <a href="#diska" aria-controls="diska" role="tab" data-toggle="tab">Contact Info</a>
                                </li>
                                <li role="presentation" class="px-4">
                                    <a href="#diskb" aria-controls="diskb" role="tab" data-toggle="tab">Personal Info</a>
                                </li>
                                <li role="presentation" class="px-4">
                                    <a href="#diskc" aria-controls="diskc" role="tab" data-toggle="tab">Change Password</a>
                                </li>
                            </ul>
                        </div>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="diska">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>First name</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Last name</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Email ID</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Phone number</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label>Address</label>
                                        <textarea class="form-control" style="height: 100px;"></textarea>
                                    </div>

                                    <div class="form-group col-md-12 flex">
                                        <button class="an-btn an-btn-default save-new pull-right">Save Change</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end .TAB-PANE -->

                            <div role="tabpanel" class="tab-pane fade in" id="diskb">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>First name</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Last name</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Email ID</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Phone number</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label>Address</label>
                                        <textarea class="form-control" style="height: 100px;"></textarea>
                                    </div>

                                    <div class="form-group col-md-12 flex">
                                        <button class="an-btn an-btn-default save-new pull-right">Save Change</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end .TAB-PANE -->

                            <div role="tabpanel" class="tab-pane fade in" id="diskc">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>current Password</label>
                                        <input type="password" class="form-control">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>New Password</label>
                                        <input type="password" class="form-control">
                                    </div>

                                    <div class="form-group col-md-12 flex">
                                        <button class="an-btn an-btn-default save-new pull-right">Save Change</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end .TAB-PANE -->
                        </div>
                        <!-- end .TAB-CONTENT -->
                    </div>
                    <!-- end .AN-BOOTSTRAP-CUSTOM-TAB -->
                </div>
                <!-- end .AN-COMPONENT-BODY -->
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="copy-right">COPYRIGHT 2020 © . ALL RIGHTS RESERVED</div>
    </div>

</div>