<form class="form" name="addUserForm" [formGroup]="thirdForm">
    <div class="row">

        <div class="form-group col-md-12 mb-3">
            <mat-form-field>
                <mat-label>Heading</mat-label>
                <textarea matInput required placeholder="Enter Heading" [formControl]="header" name="text"></textarea>
                <mat-error *ngIf="header.invalid">{{validateFormFields()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group col-md-12 mb-3">
            <mat-form-field>
                <mat-label>Content</mat-label>
                <textarea matInput required placeholder="Content" [formControl]="content" name="text"></textarea>
                <mat-error *ngIf="content.invalid">{{validateFormFields()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group col-md-12 mb-3">
            <mat-form-field>
                <mat-label>First Point</mat-label>
                <input matInput required placeholder="First Point" [formControl]="point1" name="mobileNo">
                <mat-error *ngIf="point1.invalid">{{validateFormFields()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group col-md-12 mb-3">
            <mat-form-field>
                <mat-label>Second Point</mat-label>
                <input matInput required placeholder="Second Point" [formControl]="point2" name="text">
                <mat-error *ngIf="point2.invalid">{{validateFormFields()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group col-md-12 mb-3">
            <mat-form-field>
                <mat-label>Third point</mat-label>
                <input matInput required placeholder="Third Point" [formControl]="point3" name="mobileNo">
                <mat-error *ngIf="point3.invalid">{{validateFormFields()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group col-md-6 mb-3">
            <mat-form-field>
                <mat-label>First Text</mat-label>
                <input matInput placeholder="Enter First Text" [formControl]="text1" name="text1">
            </mat-form-field>
        </div>
        <div class="form-group col-md-6 mb-3">
            <mat-form-field>
                <mat-label>First Text count</mat-label>
                <input matInput placeholder="Enter First Text count" [formControl]="number1" name="number1">
            </mat-form-field>
        </div>


        <div class="form-group col-md-6 mb-3">
            <mat-form-field>
                <mat-label>Second Text</mat-label>
                <input matInput placeholder="Enter Second Text" [formControl]="text2" name="text2">
            </mat-form-field>
        </div>
        <div class="form-group col-md-6 mb-3">
            <mat-form-field>
                <mat-label>Second Text count</mat-label>
                <input matInput placeholder="Enter Second Text count" [formControl]="number2" name="number2">
            </mat-form-field>
        </div>

        <div class="form-group col-md-6 mb-3">
            <mat-form-field>
                <mat-label>Third Text</mat-label>
                <input matInput placeholder="Enter First Text" [formControl]="text3" name="text3">
            </mat-form-field>
        </div>
        <div class="form-group col-md-6 mb-3">
            <mat-form-field>
                <mat-label>Third Text count</mat-label>
                <input matInput placeholder="Enter Third Text count" [formControl]="number3" name="number3">
            </mat-form-field>
        </div>

        <div class="form-group col-md-6 mb-3">
            <mat-form-field>
                <mat-label>Fourth Text</mat-label>
                <input matInput placeholder="Enter Fourth Text" [formControl]="text4" name="text4">
            </mat-form-field>
        </div>
        <div class="form-group col-md-6 mb-3">
            <mat-form-field>
                <mat-label>Fourth Text Count</mat-label>
                <input matInput placeholder="Enter Fourth Text Count" [formControl]="number4" name="number3">
            </mat-form-field>
        </div>

        <div class="form-group col-md-6 mb-3">
            <img class="img-fluid" [src]="imageUrl" alt="image">
        </div>

        <div class="form-group col-md-6 mb-3">
            <div>Change Image: </div>
            <input type="file" placeholder="Enter Image" (change)="bannerImage($event)" #fileInput>
            <img [src]="uploadImageUrl" *ngIf="fileAccept" class="img-fluid mt-2" id="blah" alt="Image">
        </div>

        <div class="form-group col-md-12 flex mt-4">
            <button class="btn btn-green mb-3" (click)="editThirdSection()" [disabled]="thirdForm.invalid">Update</button>
        </div>
    </div>
</form>