<a class="btn btn-green mb-3" (click)="addCategory(1)">ADD CATEGORY</a>

<div class="row align-items-center">
    <div class="col-md-8">
        <div class="an-single-component p-4">
            <label>Enter Heading <span class="text-danger">*</span></label>
            <input type="text" class="an-form-control mb-3" [(ngModel)]="cName" placeholder="Enter Heading" style="font-size:18px; margin:10px 0 0 0;" />
            <!-- end .AN-HELPER-BLOCK -->
        </div>
        <!-- end .AN-SINGLE-COMPONENT  -->
    </div>
    <div class="col-md-4">
        <a class="btn btn-green mb-3" (click)="updateCName()">Update Heading</a>
    </div>
</div>

<table mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id" class="p-2">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
    </ng-container>

    <ng-container matColumnDef="text" class="p-2">
        <th mat-header-cell *matHeaderCellDef> CATEGORY </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>



    <ng-container matColumnDef="image" class="p-2">
        <th mat-header-cell *matHeaderCellDef> IMAGE </th>
        <td mat-cell *matCellDef="let element">
            <span class="msg-tag bg-success cursor-pointer px-5" (click)="imageOpen(element.images)">View</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> ACTION </th>
        <td mat-cell *matCellDef="let element">
            <div class="d-flex">
                <span class="cursor-pointer p-0" (click)="openEditDialog(element)"><i class="fas fa-edit" style="color: green;"></i></span>
                <span class="cursor-pointer p-0 ms-3" (click)="openDeleteDialog(element)"><i class="fas fa-trash" style="color: red;"></i></span>
            </div>
        </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of data elements">
    </mat-paginator>
</table>