<div class="an-content-body {{datas.hideSidebarClass}}">

    <div class="an-body-topbar wow fadeIn">
        <div class="an-page-title">
            <h2>Survey Overview</h2>
        </div>

        <!-- <div class="an-daterange-picker">
            <div id="reportrange" class="pull-right">
                <span></span>
                <i class="far fa-calendar ml-2"></i>
            </div>
        </div> -->
        <!-- end AN-DATERANGE-PICKER -->
    </div>
    <!-- end AN-BODY-TOPBAR -->

    <div class="an-panel-main-info">
        <div class="row">
            <div class="col-md-4">
                <a>
                    <div class="an-panel-main-info-single color-gry with-shadow wow fadeIn" data-wow-delay=".1s">
                        <h2>{{surveyDetails.totalSurvey}} <span class="info-identifier">Total Surveys</span></h2>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <div class="an-panel-main-info-single color-gry with-shadow wow fadeIn" data-wow-delay=".2s">
                    <h2>{{surveyDetails.activeSurvey}}<span class="info-identifier">Active Surveys</span></h2>
                </div>
            </div>
            <div class="col-md-4">
                <a>
                    <div class="an-panel-main-info-single color-gry with-shadow wow fadeIn" data-wow-delay=".3s">
                        <h2>{{surveyDetails.response}}<span class="info-identifier">Responses</span></h2>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="an-single-component with-shadow">
                <div class="an-component-header">
                    <h6>Question Type Distribution</h6>
                </div>
                <div class="an-component-body">
                    <div class="an-chart-content doughnut text-center">
                        <!-- <img src="../../../../assets/images/dash.png" class="img-fluid" style="width: 57.7%;"> -->
                        <canvas id="canvas"></canvas>
                    </div>
                    <!-- end .AN-CHART-CONTENT -->
                </div>

            </div>
            <!-- end .AN-SINGLE-COMPONENT messages -->
        </div>
    </div>
    <div class="an-body-topbar wow fadeIn">
        <div class="an-page-title">
            <h2>Survey List</h2>
        </div>
    </div>

    <div class="data-table-header" style="margin-bottom: 30px;">
        <form class="an-form" action="#" style="width: 100%;">
            <div class="table-search-inline">
                <div class="an-search-field">
                    <input class="an-form-control" type="text" placeholder="Search..." name="search" [(ngModel)]="searchValue">
                    <button class="an-btn an-btn-icon" type="submit" (click)="searchKey()"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <button *ngIf="!datas.writeDisable" class="btn-green" [routerLink]="['/survey/add-survey']">ADD SURVEY</button>
        <button *ngIf="datas.writeDisable" class="btn-green" (click)="datas.denieAccess()">ADD SURVEY</button>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="an-single-component with-shadow">
                <div class="an-component-body">
                    <div class="an-helper-block p-0">
                        <div class="an-scrollable-x">
                            <table mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort class="mat-elevation-z8">

                                <ng-container matColumnDef="id" class="p-2">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                    <td mat-cell *matCellDef="let element" class="cursor-pointer" [routerLink]="['/survey/survey-analysis',element.id]"> {{element.id}} </td>
                                </ng-container>

                                <ng-container matColumnDef="name" class="p-2">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SURVEY NAME </th>
                                    <td mat-cell *matCellDef="let element" class="cursor-pointer" [routerLink]="['/survey/survey-analysis',element.id]"> {{element.name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="description" class="p-2">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SURVEY DESCRIPTION </th>
                                    <td mat-cell *matCellDef="let element" class="cursor-pointer" [routerLink]="['/survey/survey-analysis',element.id]"> {{ element.description |slice:0:50 }}... </td>
                                </ng-container>

                                <ng-container matColumnDef="noOfQuestion" class="p-2">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NO. QUESTION </th>
                                    <td mat-cell *matCellDef="let element"> {{element.noOfQuestion}}
                                        <span class="cursor-pointer p-0 ms-2" title="Add Question" [routerLink]="['/survey/add-survey-qtn/',element.id]" *ngIf="element.isAddQuestion == 0 && !datas.writeDisable"><i class="fas fa-plus-square" style="color: green;"></i></span>
                                        <span class="cursor-pointer p-0 ms-2" title="Add Question" (click)="datas.denieAccess()" *ngIf="element.isAddQuestion == 0 && datas.writeDisable"><i class="fas fa-plus-square" style="color: green;"></i></span>
                                        <span class="cursor-pointer p-0  ms-2" title="Edit Question" [routerLink]="['/survey/edit-survey-qtn/',element.id]" *ngIf="element.isAddQuestion == 1 && !datas.editDisable"><i class="fas fa-edit" style="color: green;"></i></span>
                                        <span class="cursor-pointer p-0  ms-2" title="Edit Question" (click)="datas.denieAccess()" *ngIf="element.isAddQuestion == 1 && datas.editDisable"><i class="fas fa-edit" style="color: green;"></i></span>
                                        <span class="cursor-pointer p-0 ms-3" (click)="openDeleteQtnDialog(element.id)" *ngIf="element.isAddQuestion == 1 && !datas.deleteDisable"><i class="fas fa-trash" style="color: red;"></i></span>
                                        <span class="cursor-pointer p-0 ms-3" (click)="datas.denieAccess()" *ngIf="element.isAddQuestion == 1 && datas.deleteDisable"><i class="fas fa-trash" style="color: red;"></i></span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="url" class="p-2">
                                    <th mat-header-cell *matHeaderCellDef>SURVEY URL </th>
                                    <td mat-cell *matCellDef="let element"> <span class="cursor-pointer" (click)="goToLink(element.url,element.isAddQuestion)"><i class="fas fa-external-link-alt"></i></span> <span class="cursor-pointer ms-3" title="Copy the url" (click)="copyUrl(element.url)"><i class="fas fa-copy"></i></span></td>
                                </ng-container>

                                <ng-container matColumnDef="startDate" class="p-2">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> START DATE </th>
                                    <td mat-cell *matCellDef="let element" class="cursor-pointer" [routerLink]="['/survey/survey-analysis',element.id]"> {{element.startDate | date:'MM/dd/yyyy'}} </td>
                                </ng-container>

                                <ng-container matColumnDef="endDate" class="p-2">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> END DATE </th>
                                    <td mat-cell *matCellDef="let element" class="cursor-pointer" [routerLink]="['/survey/survey-analysis',element.id]"> {{element.endDate | date:'MM/dd/yyyy'}} </td>
                                </ng-container>

                                <!-- State Column -->
                                <ng-container matColumnDef="active">
                                    <th mat-header-cell *matHeaderCellDef> STATE </th>
                                    <!-- <td mat-cell><span class="msg-tag bg-success px-5">Active</span></td> -->
                                    <td mat-cell *matCellDef="let element" class="cursor-pointer" [routerLink]="['/survey/survey-analysis',element.id]"><span class="msg-tag bg-danger px-5" *ngIf="element.active != '1'">Inactive</span><span class="msg-tag bg-success px-5" *ngIf="element.active == '1'">Active</span></td>

                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef> ACTION </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="d-flex">
                                            <span *ngIf="!datas.editDisable" class="cursor-pointer p-0" [routerLink]="['/survey/edit-survey/',element.id]" title="Edit Survey"><i class="fas fa-edit" style="color: green;"></i></span>
                                            <span *ngIf="datas.editDisable" class="cursor-pointer p-0" (click)="datas.denieAccess()" title="Edit Survey"><i class="fas fa-edit" style="color: green;"></i></span>
                                            <span *ngIf="!datas.deleteDisable" class="cursor-pointer p-0 ms-3" (click)="openDeleteDialog(element.id)"><i class="fas fa-trash" style="color: red;"></i></span>
                                            <span *ngIf="datas.deleteDisable" class="cursor-pointer p-0 ms-3" (click)="datas.denieAccess()"><i class="fas fa-trash" style="color: red;"></i></span>
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="details">
                                    <th mat-header-cell *matHeaderCellDef> SURVEY DETAILS </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="d-flex justify-content-center">
                                            <span class="cursor-pointer p-0" title="Download Data"><i [class]="exporting" *ngIf="element.isAddQuestion == 1" (click)="downloadSheet(element.id,element.name)" class="fas fa-download" style="color: green;"></i><i *ngIf="element.isAddQuestion == 0" class="fas fa-download" style="color: red;"></i></span>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                            </table>
                            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" class="mat-elevation-z1">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>