<div class="an-content-body">
  <div class="an-body-topbar wow fadeIn">
    <div class="an-page-title">
      <h2>Market Products</h2>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="an-single-component with-shadow">

        <div class="an-component-body">
          <div class="an-helper-block p-0">
            <!-- PRODUCT CATEGORY -->
            <div class="shadow-class m-3">
              <h2 *ngIf="!sharedDataService.editDisable" class="an-page-title mt-0" (click)="toggleCollapse()" role="button">
                PRODUCT CATEGORY
              </h2>
              <h2 *ngIf="sharedDataService.editDisable" class="an-page-title mt-0">PRODUCT CATEGORY</h2>
              
              <div *ngIf="!isCollapsed && !sharedDataService.editDisable" class="an-scrollable-x" id="bannerEdit">
                <a class="btn btn-green mb-2" (click)="addCategory()">ADD CATEGORY</a>
                
                <div class="an-component-body">
                  <div class="an-helper-block p-0">
                    <div class="an-scrollable-x">
                      <table mat-table *ngIf="dataSourceForProductCategory" [dataSource]="dataSourceForProductCategory" class="mat-elevation-z8">
                        <ng-container matColumnDef="ID" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> ID </th>
                          <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="CATEGORY" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> CATEGORY </th>
                          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="IMAGE" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> IMAGE </th>
                          <td mat-cell *matCellDef="let element">
                            <span class="msg-tag bg-success cursor-pointer px-5" (click)="openViewImagePopup(element)">View</span>
                          </td>
                        </ng-container>
            
                        <ng-container matColumnDef="ACTION">
                          <th mat-header-cell *matHeaderCellDef> ACTION </th>
                          <td mat-cell *matCellDef="let element">
                            <div class="d-flex">
                              <span class="cursor-pointer p-0" (click)="openEditPopup(element)">
                                <i class="fas fa-edit" style="color: green;"></i>
                              </span>
                              <span class="cursor-pointer p-0 ms-3" (click)="openDelPopup(element)">
                                <i class="fas fa-trash" style="color: red;"></i>
                              </span>
                            </div>
                          </td>
                        </ng-container>
            
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsForProductCategory"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsForProductCategory;"></tr>
                      </table>
            
                      <mat-paginator #paginatorForProductCategory
                                     [length]="displayedColumnsForProductCategory?.length"
                                     [pageSize]="10"
                                     [pageSizeOptions]="[5, 10, 25, 100]"
                                     class="mat-elevation-z1">
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            

            <!-- PRODUCT Details -->
            <div class="shadow-class m-3">
              <h2 *ngIf="!sharedDataService.editDisable" class="an-page-title mt-0" data-bs-toggle="collapse" href="#productDetails"
                role="button" aria-expanded="false" aria-controls="productDetails">PRODUCT DETAILS </h2>
              <h2 *ngIf="sharedDataService.editDisable" class="an-page-title mt-0">PRODUCT DETAILS</h2>
              <div *ngIf="!sharedDataService.editDisable" class="an-scrollable-x collapse" id="productDetails">

                <a class="btn btn-green mb-2" (click)="addProductDetails()">ADD DETAILS</a>
                <div class="an-component-body">
                  <div class="an-helper-block p-0">
                    <div class="an-scrollable-x">
                      <table mat-table *ngIf="dataSourceForProductDetails" [dataSource]="dataSourceForProductDetails"
                        class="mat-elevation-z8">

                        <ng-container matColumnDef="ID" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> ID </th>
                          <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                        </ng-container>

                        <ng-container matColumnDef="NAME" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> NAME </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="PRICE" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> PRICE </th>
                          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                        </ng-container>

                         <ng-container matColumnDef="QUANTITY" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> QUANTITY </th>
                          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                        </ng-container>
                        <ng-container matColumnDef="DISCOUNT" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> DISCOUNT </th>
                          <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
                        </ng-container>
                        <ng-container matColumnDef="CATEGORY" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> CATEGORY </th>
                          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                        </ng-container>
                        <ng-container matColumnDef="BRAND WARRANTY" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> BRAND WARRANTY </th>
                          <td mat-cell *matCellDef="let element"> {{element.brand_warranty}} </td>
                        </ng-container>
                        <ng-container matColumnDef="RETURN POLICY" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> RETURN POLICY </th>
                          <td mat-cell *matCellDef="let element"> {{element.return_policy}} </td>
                        </ng-container>
                        <ng-container matColumnDef="IMAGE" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> IMAGE</th>
                          <td mat-cell *matCellDef="let element">
                            <span  class="msg-tag bg-success cursor-pointer px-5" (click)="viewProductDetails(element)">View</span>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="ACTION">
                          <th mat-header-cell *matHeaderCellDef> ACTION </th>
                          <td mat-cell *matCellDef="let element">
                            <div class="d-flex">
                              <span class="cursor-pointer p-0" (click)="editPdocuctDetails(element)"><i class="fas fa-edit" style="color: green;"></i></span>
                              <span class="cursor-pointer p-0 ms-3" (click)="deletePdocuctDetails(element)"><i class="fas fa-trash"
                                  style="color: red;"></i></span>
                            </div>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsForProductDetails"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsForProductDetails;"></tr>
                      </table>
                     
                      <mat-paginator #paginatorForProductDetails
                      [length]="displayedColumnsForProductDetails?.length"
                      [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                       class="mat-elevation-z1">
                      </mat-paginator>
                     </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- tax Data -->
            <div class="shadow-class m-3">
              <h2 *ngIf="!sharedDataService.editDisable" class="an-page-title mt-0" data-bs-toggle="collapse" href="#taxdata"
                role="button" aria-expanded="false" aria-controls="taxdata">TAX DETAILS </h2>
              <h2 *ngIf="sharedDataService.editDisable" class="an-page-title mt-0">TAX DETAILS</h2>
              <div *ngIf="!sharedDataService.editDisable" class="an-scrollable-x collapse" id="taxdata">

                <a class="btn btn-green mb-2" (click)="addTaxDetails()">ADD TAX DATA</a>
                <div class="an-component-body">
                  <div class="an-helper-block p-0">
                    <div class="an-scrollable-x">
                      <table mat-table *ngIf="dataSourceForTax" [dataSource]="dataSourceForTax"
                        class="mat-elevation-z8">

                        <ng-container matColumnDef="ID" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> ID </th>
                          <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                        </ng-container>

                        <ng-container matColumnDef="SAC_HSN" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> SAC_HSN </th>
                          <td mat-cell *matCellDef="let element"> {{element.SAC_HSN}} </td>
                        </ng-container>
                        <ng-container matColumnDef="SACHSN_Code" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> SACHSN_Code </th>
                          <td mat-cell *matCellDef="let element"> {{element.SACHSN_Code}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Description" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> Description </th>
                          <td mat-cell *matCellDef="let element"> {{element.Description_of_Goods}} </td>
                        </ng-container>
                        <ng-container matColumnDef="CGST" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> CGST RATE(%) </th>
                          <td mat-cell *matCellDef="let element"> {{element.CGST}} </td>
                        </ng-container>
                        <ng-container matColumnDef="SGST" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> SGST/UTGST RATE(%) </th>
                          <td mat-cell *matCellDef="let element"> {{element.SGST_UTGST}} </td>
                        </ng-container>
                        <ng-container matColumnDef="IGST" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> IGST RATE(%)</th>
                          <td mat-cell *matCellDef="let element"> {{element.IGST}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ACTION">
                          <th mat-header-cell *matHeaderCellDef> ACTION </th>
                          <td mat-cell *matCellDef="let element">
                            <div class="d-flex">
                              <span class="cursor-pointer p-0"  (click)="editTaxData(element)"><i class="fas fa-edit" style="color: green;"></i></span>
                              <span class="cursor-pointer p-0 ms-3"><i class="fas fa-trash" style="color: red;" (click)="deleteTaxData(element)"></i></span>
                            </div>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsForTax"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsForTax;"></tr>

                      </table>
                      
                      <mat-paginator #paginatorForTax
                      [length]="displayedColumnsForTax?.length"
                      [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                       class="mat-elevation-z1">
                      </mat-paginator>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- PIN Section -->
            <div class="shadow-class m-3">
              <h2 *ngIf="!sharedDataService.editDisable" class="an-page-title mt-0" data-bs-toggle="collapse" href="#pindata"
                role="button" aria-expanded="false" aria-controls="pindata">PIN CODE DETAILS </h2>
              <h2 *ngIf="sharedDataService.editDisable" class="an-page-title mt-0">PIN CODE DETAILS</h2>
              <div *ngIf="!sharedDataService.editDisable" class="an-scrollable-x collapse" id="pindata">
                <div class="an-component-body">
                  <div class="an-helper-block p-0">
                    <div class="an-scrollable-x">
                      <table mat-table *ngIf="dataSourceForPin" [dataSource]="dataSourceForPin"
                        class="mat-elevation-z8">

                        <ng-container matColumnDef="ID" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> ID </th>
                          <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                        </ng-container>

                        <ng-container matColumnDef="PO NAME" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> PO NAME </th>
                          <td mat-cell *matCellDef="let element"> {{element.post_office_name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="PIN-Code" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> PIN-Code </th>
                          <td mat-cell *matCellDef="let element"> {{element.pincodes}} </td>
                        </ng-container>
                        <ng-container matColumnDef="DISTRICT" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> DISTRICT </th>
                          <td mat-cell *matCellDef="let element"> {{element.district_name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="CITY" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> CITY </th>
                          <td mat-cell *matCellDef="let element"> {{element.city_name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="STATE" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> STATE </th>
                          <td mat-cell *matCellDef="let element"> {{element.state_name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="DELIVERY CHARGE" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> DELIVERY CHARGE</th>
                          <td mat-cell *matCellDef="let element"><i _ngcontent-rxd-c216="" class="fas fa-rupee-sign"></i> {{element.delivery_charge}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ACTION">
                          <th mat-header-cell *matHeaderCellDef> ACTION </th>
                          <td mat-cell *matCellDef="let element">
                            <div class="d-flex">
                              <span class="cursor-pointer p-0" (click)="editCharges(element)"><i class="fas fa-edit" style="color: green;"></i></span>
                              <!-- <span class="cursor-pointer p-0 ms-3"><i class="fas fa-trash"
                                  style="color: red;"></i></span> -->
                            </div>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsForPin"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsForPin;"></tr>

                      </table>
                      
                      <mat-paginator #paginatorForPin
                      [length]="displayedColumnsForPin?.length"
                      [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                       class="mat-elevation-z1">
                      </mat-paginator>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Order Details-->
            <div class="shadow-class m-3">
              <h2 *ngIf="!sharedDataService.editDisable" class="an-page-title mt-0" data-bs-toggle="collapse" href="#orderdetails"
                role="button" aria-expanded="false" aria-controls="orderdetails">ORDER DETAILS </h2>
              <h2 *ngIf="sharedDataService.editDisable" class="an-page-title mt-0">ORDER DETAILS</h2>
              <div *ngIf="!sharedDataService.editDisable" class="an-scrollable-x collapse" id="orderdetails">
                
                <div class="an-component-body">
                  <div class="an-helper-block p-0">
                    <div class="an-scrollable-x">
                      <table mat-table *ngIf="dataSourceForOrderDetails" [dataSource]="dataSourceForOrderDetails"
                        class="mat-elevation-z8">

                        <ng-container matColumnDef="ID" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> ID </th>
                          <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                        </ng-container>
                        orderId
                        <ng-container matColumnDef="OrderId" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> OrderId </th>
                          <td mat-cell *matCellDef="let element; let i=index"> {{element.orderId}} </td>
                        </ng-container>
                        <ng-container matColumnDef="PRODUCT" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> PRODUCT </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="NAME" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> NAME </th>
                          <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}}</td>
                        </ng-container>
                        <ng-container matColumnDef="PRICE" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> PRICE </th>
                          <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
                        </ng-container>
                        <ng-container matColumnDef="QUANTITY" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> QUANTITY </th>
                          <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
                        </ng-container>
                        <ng-container matColumnDef="DISCOUNT(%)" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> DISCOUNT(%) </th>
                          <td mat-cell *matCellDef="let element"> {{element.discountAmount}} </td>
                        </ng-container>
                        <ng-container matColumnDef="GST" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> GST</th>
                          <td mat-cell *matCellDef="let element"> {{element.gstAmount}} </td>
                        </ng-container>
                        <ng-container matColumnDef="TOTAL" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> TOTAL </th>
                          <td mat-cell *matCellDef="let element"> {{element.itemTotal}} </td>
                        </ng-container>
                        <ng-container matColumnDef="DATE" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> DATE </th>
                          <td mat-cell *matCellDef="let element"> {{ datePipe.transform(element.createdDate, 'MMM dd, yyyy') }} </td>
                        </ng-container>
                        <ng-container matColumnDef="STATUS" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> STATUS </th>
                          <td mat-cell *matCellDef="let element">
                            <span class="canceled" *ngIf="element.delivery_status == 0">Canceled</span> 
                            <span class="pending" *ngIf="element.delivery_status == 1">Pending</span>
                            <span class="shipped" *ngIf="element.delivery_status == 2">Shiped</span>
                            <span class="delivered" *ngIf="element.delivery_status == 3">Delivered</span>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="INVOICE" class="p-2">
                          <th mat-header-cell *matHeaderCellDef> INVOICE</th>
                          <td mat-cell *matCellDef="let element" (click)="openPdf(element)"> <i _ngcontent-rxd-c217="" class="fas fa-download" style="color: green;"></i> </td>
                        </ng-container>
                        <ng-container matColumnDef="UPDATE">
                          <th mat-header-cell *matHeaderCellDef> UPDATE </th>
                          <td mat-cell *matCellDef="let element" (click)="editOrderStatus(element)">
                            <div class="d-flex">
                              <span class="cursor-pointer p-0"><i class="fas fa-edit" style="color: BLACK;"></i></span>
                              
                            </div>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsForOrderDetails"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsForOrderDetails;"></tr>

                      </table>
                      
                      <mat-paginator #paginatorForOrderDetails
                      [length]="displayedColumnsForOrderDetails?.length"
                      [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                       class="mat-elevation-z1">
                      </mat-paginator>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<app-invoice *ngIf="showInvoice"></app-invoice>
