<div class="an-content-body">
    <!-- end AN-BREADCRUMB -->

    <div class="an-body-topbar wow fadeIn">
        <div class="an-page-title">
            <h2>Survey Overview</h2>
        </div>

        <div class="an-daterange-picker">
            <div id="reportrange" class="pull-right">
                <span></span>
                <i class="far fa-calendar ml-2"></i>
            </div>
        </div>
        <!-- end AN-DATERANGE-PICKER -->
    </div>
    <!-- end AN-BODY-TOPBAR -->

    <div class="an-panel-main-info">
        <div class="row">
            <div class="col-md-3">
                <a>
                    <div class="an-panel-main-info-single color-gry with-shadow wow fadeIn" data-wow-delay=".1s">
                        <h2>360 <span class="info-identifier">Total Surveys</span></h2>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <div class="an-panel-main-info-single color-gry with-shadow wow fadeIn" data-wow-delay=".2s">
                    <h2>235<span class="info-identifier">Collectors</span></h2>
                </div>
            </div>
            <div class="col-md-3">
                <a>
                    <div class="an-panel-main-info-single color-gry with-shadow wow fadeIn" data-wow-delay=".3s">
                        <h2>18K<span class="info-identifier">Responses</span></h2>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a>
                    <div class="an-panel-main-info-single color-gry with-shadow wow fadeIn" data-wow-delay=".3s">
                        <h2>113<span class="info-identifier">Partial Responses</span></h2>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="an-single-component with-shadow">
                <div class="an-component-header">
                    <h6>Surveys By Category</h6>
                </div>
                <div class="an-component-body">
                    <div class="an-chart-content doughnut">
                        <canvas class="pichart"></canvas>
                    </div>
                    <!-- end .AN-CHART-CONTENT -->
                </div>

            </div>
            <!-- end .AN-SINGLE-COMPONENT messages -->
        </div>

        <div class="col-md-6">
            <div class="an-single-component with-shadow">
                <div class="an-component-header">
                    <h6>Question Type Distribution</h6>
                </div>
                <div class="an-component-body">
                    <div class="an-chart-content doughnut text-center">
                        <img src="../../../../assets/images/dash.png" class="img-fluid" style="width: 57.7%;">
                    </div>
                    <!-- end .AN-CHART-CONTENT -->
                </div>

            </div>
            <!-- end .AN-SINGLE-COMPONENT messages -->
        </div>
    </div>
    <div class="col-md-12">
        <div class="copy-right">COPYRIGHT 2020 © . ALL RIGHTS RESERVED</div>
    </div>
</div>