<div class="an-content-body {{data.hideSidebarClass}}">
    <div class="an-body-topbar wow fadeIn">
        <div class="an-page-title">
            <h2>Revenue</h2>
        </div>
        <div class="revenew-btns">
            <button type="button" class="btn btn-print rounder-md"><i class="fas fa-print me-3" style="font-size: 18px;"></i>Print</button>
            <button type="button" class="btn btn-print rounder-md ms-4"><i class="fas fa-file-export me-3" style="font-size: 18px;"></i>Export</button>
            <button type="button" class="btn-white rounder-md ms-4">Weekly</button>
            <button type="button" class="btn-brown rounder-md ms-4">Monthly</button>
        </div>
    </div>
    <!-- end AN-BODY-TOPBAR -->

    <div class="row pt-3 mb-5">
        <div class="col-md-4">
            <div class="revenew-card">
                <h3>&#8377;15,13,650</h3>
                <p>This Weekly</p>
                <h6><i class="far fa-chart-line me-3"></i>60%</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="revenew-card">
                <h3>&#8377;10,3600</h3>
                <p>This Month</p>
                <h6><i class="far fa-chart-line me-3"></i>20%</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="revenew-card">
                <h3>&#8377;5,600</h3>
                <p>Today</p>
                <h6><i class="far fa-chart-line me-3"></i>25%</h6>
            </div>
        </div>
    </div>

    <div class="an-single-component with-shadow">
        <div class="an-component-body">
            <div class="an-chart-content">
                <canvas class="barChartTwo"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="copy-right">COPYRIGHT 2020 © . ALL RIGHTS RESERVED</div>
    </div>
</div>