<form novalidate name="addUserForm" class="form" (ngSubmit)="submitForm(addUserForm)" #addUserForm="ngForm">
    <div class="row">
        <div class="form-group col-md-6 mb-3">
            <mat-form-field appearance="legacy" style="width: 100%;">
              <mat-label>Slug *</mat-label>
              <mat-select [(value)]="formData.slug" name="slug" id="slug" required>
                <mat-option *ngFor="let option of slugOptions" [value]="option.slug">
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>                  
        <div class="form-group col-md-6 mb-3">
            <mat-form-field appearance="legacy" style="width: 100%;">
                <mat-label>Title *</mat-label>
                <input matInput required [(ngModel)]="formData.title" name="title" id="title"
                #title="ngModel" aria-describedby="title">
            </mat-form-field>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label for="file">File *</label>
            <input type="file" required (change)="onFileSelected($event)" accept=".pdf, .jpg, .jpeg, .png" id="file" class="form-control" aria-describedby="file">
        </div>

        <div class="form-group col-md-12 flex">
            <button type="submit" class="btn btn-green m-3" [disabled]="addUserForm.invalid">Save</button>
            <button type="button" class="btn btn-gold m-3" (click)="cancelForm()">Cancel</button>
        </div>
    </div>
</form>