<div class="an-content-body {{data.hideSidebarClass}}">
    <div class="an-body-topbar wow fadeIn">
        <div class="an-page-title">
            <h2>Edit News letter</h2>
        </div>
    </div>

    <div class="an-single-component with-shadow p-5">
        <form class="form" name="addUserForm" [formGroup]="newsForm">
            <div class="row">

                <div class="form-group col-md-12 mb-3">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Title</mat-label>
                        <input matInput required placeholder="Enter Title" [formControl]="pText1" name="text">
                        <mat-error *ngIf="pText1.invalid">{{validateFormFields()}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-12 mb-3">
                    <mat-form-field>
                        <mat-label>Sub Text</mat-label>
                        <input matInput required placeholder="Enter Sub Text" [formControl]="pText2" name="mobileNo">
                        <mat-error *ngIf="pText2.invalid">{{validateFormFields()}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-12 flex mt-4">
                    <button *ngIf="!data.editDisable" class="btn btn-green mb-3" (click)="editNewsSection()" [disabled]="newsForm.invalid">Update</button>
                    <button *ngIf="data.editDisable" class="btn btn-green mb-3" (click)="data.denieAccess()">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>